# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
/.vs
/Editor/.vs
/Editor/obj
/Editor/Editor.csproj
/Editor/Editor.csproj.user
/Editor/Editor.sln
/Engine/.vs/Engine
/Engine/Engine.sln
/Engine/Engine.vcxproj
/Engine/Engine.vcxproj.filters
/Engine/Engine.vcxproj.user
/x64
*.sln
